body {
    background-color: darkslategray;
}

#myMap {
    width: 70%;
    position: relative;
    left: 17%;
    height: 50%;
}

#header {
    width: 100%;
    text-align: center;

}

input {
    margin-bottom: 0.5em;
}



input {
    background-color: #BC8F8F;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

input:hover {
	background-color: white;
	color: #BC8F8F;
}
#searchTbx {
	background-color: white;
	color: black;
}

#confirm {
	background-color: #CD5C5C;
}

#submit {
	background-color: #CD5C5C;
}

#confirm:hover {
	background-color: white;
	color: #CD5C5C;
}

#submit:hover {
	background-color: white;
	color: #CD5C5C;
}